Courses/345/3L/.DS_Store
Courses/.DS_Store
.vscode
replace_regex
usefulregexsnippets
.sass-cache
index
index.html
Test_0_00_8_Single_Circuit
Test_0_00_8_Circuit_List
Test
pages
Project_1_Single_Qubit_Gates
Project_2_Transpilation
Test_List
Test_Transpile
Project_3_List_of_Circuits
clone
index
/Project_1_Single_Qubit_Gates
/Project_2_Transpilation
/Project_3_List_of_Circuits
